.topbar-selected{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.topbar-notselected{
    font-size: 1.5rem;
    color: grey;
}

.topbar-item{
    margin: 10px;
    cursor: pointer;
}

.topbar-container{
    display: flex;
    flex-direction: row;
}

tr.table-row-expired td {
    color: red;
}

.react-datepicker__month {
 opacity: 1 important!;
 background-color: white;
 z-index: 800;
}