.bar-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 min-content;
    width: 100%;
    
}

.bar-item-small-nonselected {
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
}

.bar-item-selected {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;

    

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.bar-item-nonselected {
    color: gray;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;

    

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.version {
    padding: 0.5rem;
}